<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=' />
  <title>{{app_name}}</title>
</head>
<body style='margin:0;font-family:arial'>
<div style=''>
  <p>{{header}},</p>
  <br />
  <p>{{bodyMessage}}</p>
  <br />
  <p><strong>{{footer1}}</strong>, <br />{{footer2}}</p>

</div>
</body>
</html>
